*.pyc
.project
.pydevproject
localsettings.py
tt.db
.settings/*
*~
.DS_Store
log/daemons/*.txt
log/*.err
log/*.gz
log/*
funkload_tests/load_testing/log/*
funkload_tests/load_testing/html/*
media/photos/*
*.log
media/min/*
media/blog/*
media/plugin/*
media/js/min/*
media/css/min/*
templates/static/*.html
xmpp/ext_auth*
*.beam
talkto.db
dump.rdb
h.tmp
*simple-test.xml.bak*
*simple-test.xml
*simple-bench.xml.bak*
sql*.out
.crontab
.metadata
.metadata
api_cookies.txt
docs/sphinx/_build/*
